@media(max-width: 720px) {
    body {
        height: 100vh;
        position: relative;
    }

    footer {
        height: 3vh;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
    }

    .font-poppins {
        display: none;
    }

    .menu-mobile {
        position: fixed;
        bottom: 30px;
        width: fit-content;
        padding: 15px;
        /* background-color: #ffffff6b; */
        background-color: #ffffff;

        /* backdrop-filter: blur(15px); */

        display: flex;
        justify-content: space-between;

        border-radius: 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        /* box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px; */
    }

    .menu-mobile a {
        color: var(--black-default);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 3px;
        border-radius: 20px;
        padding: 7px 15px;
        transition: .4s;


    }

    .icon i {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon h2 {
        font-size: 15px;
        font-family: var(--manrope);
        display: none;
    }

    .icon.selected h2 {
        display: flex;
    }

    .icon.selected {
        color: #0A0911;
        background-color: #adabab33;
        /* backdrop-filter: blur(10px); */

    }

    .menu-desktop,
    .itens {
        display: none;
    }
}

.title-tela h3 {
    font-size: 24px;
}

@media (min-width: 721px) {
    header {
        width: 100%;
        background-color: var(--purple-default);
    }

    .titulo {
        
       margin-bottom: 10px;
        display: flex;
        
        padding: 40px 25px 0px;
        position: relative;
        z-index: 2;
        width: 100%;
    }

    .title-tela {
        font-family: var(--poppins);
        color: var(--white-bg);
        width: 100%;
        padding: 5px 0;
        text-align: center;

        border-top: 2px solid var(--purple-relative);
    }

    .font-poppins {
        margin-bottom: 15px;
        font-family: var(--poppins);
        color: #FFFFFF;
        
    }

    .menu-mobile {
        display: none;
    }
    .menu-desktop{
        margin-left: calc(100% - 800px);
        gap: 20px;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .menu-desktop i {
        color: var(--white-bg);
        font-size: 38px;
        border-radius: 3px 3px 0 0;
        transition: .5s;

        display: flex;
        
        

        cursor: pointer;
    }

    .menu-desktop i:hover {
        background-color: var(--purple-relative);
    }

    .active {
        background-color: var(--purple-relative);
    }

    .itens {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        transition: border-radius 1s, opacity .5s;

        opacity: 1;
        border-radius: 0 50% 0 0;

        background-color: var(--purple-relative);

        padding: 50px 35px;
    }

    .openAnimationMenu {
        opacity: 1;
        transform: translate(0px, 0px) !important;
        border-radius: 0%;
    }

    .closeAnimationMenu {
        opacity: 0;
        border-radius: 0 50% 0 0;
        transform: translate(0%, -80%);
    }


    .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 20px;
        border-radius: 40px;
        border: 1px solid #fff;

        color: var(--white-bg);
        font-family: var(--poppins);
        text-decoration: none;

        transition: .2s;
    }

    .icon i {
        font-size: 32px;
    }

    .icon h2 {
        font-size: 20px;
        transition: .2s;
        font-weight: 400;

    }

    .icon:hover {
        background-color: var(--purple-relative);
        border: none;
    }

    .icon:hover h2 {
        font-weight: 700;
    }

    .icon.selected h2 {
        font-weight: 700;
    }
    .icon.selecionado {
        /* color: #0A0911; */
        background-color: var(--purple-relative);
        border: none;
        /* backdrop-filter: blur(10px); */

        
    }

}