@media(max-width: 720px) {
    body {
        height: 100vh;
        position: relative;
    }
    footer {
        position: absolute;
        height: 10vh;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
    }
    
    .menu-mobile {
        position: absolute;
        bottom: 30px;
        width: 50%;
        height: 60px;
        background-color: #F4F4ED;
        
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
        border-radius: 30px;
        box-shadow: 4px 5px 15px #7575753a, -2px -4px #f4f4ed56;
    }
    
    .menu-mobile a {
        color: #000;
    }
    
    .icon i {
        font-size: 22px;
        transition: .2s;
    }
    
    .icon:hover i {
        translate: 0px -4px;
        color: #6F50FF;
    }
    
    .select {
        /* translate: 0px -4px; */
        color: #6F50FF;
    }
    
    /* .square {
        outline: 2px solid #000;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    } */
}