@import url("geral.css");

@media (max-width: 720px) {

    .title-tela {
        font-family: var(--poppins);
        margin: 15px;
    }

    .title-tela h3 {
        font-size: 26px;
    }

    .search-container {
        width: 90%;
        margin: auto;
        display: flex;

    }

    body main {
        padding: 56px 15px !important;
    }

    .section-list-games {
        margin-bottom: 100px;
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .content-game {
        padding: 0 20px;
    }
}


.search-container {
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;

    background: var(--white-default);
}

.icon-search,
.icon-close {
    font-size: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-close {
    display: none;
}

.search-container input {
    border: none;
    padding: 15px 5px;
    margin: 0 10px;
    width: 100%;
    height: 50px;
    background: none;
    outline: none;
}



.game-holder {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.sport {
    width: 17%;
    padding: 15px;
    text-align: end;
}

.sport img {
    width: 24px;
}

.content {
    width: 83%;
    padding: 11px 0;
    border-top: 1px solid #d8d5d5;
    font-family: var(--manrope);
}

.content .game-title {
    margin-bottom: 47px;
}

.game-title #title {
    font-family: var(--poppins);
    margin-bottom: 5px;
    font-size: 25px;
}

.location {
    display: flex;
    align-items: center;
    gap: 5px;
}

.players,
.time {
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 15px;
    padding: 5px 10px;
    gap: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.location #city {
    font-size: 14px;
}

.info-match {
    display: flex;
    gap: 10px;
}



/* section details */
.section-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    z-index: 1000;
    display: none;
    flex-direction: column;
    justify-content: end;
}

.icon-close-section {
    /* background-color: red; */
    display: flex;
    font-size: 30px;
    justify-content: end;
    width: calc(100% - 20px);
    margin-right: 20px;
}

.icon-close-section i {
    cursor: pointer;
}

.content-game {
    height: fit-content;
    background-color: #fff;
    font-family: var(--manrope);
    padding-right: 30px;
    padding-bottom: 20px;


    /* display: ; */
    flex-direction: column;
    justify-content: center;
}


.content-game .game-title #title {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
}

.location-details {
    margin-bottom: 25px;
}

#city-state {
    font-size: 20px;
    font-weight: 600;
    font-family: var(--poppins);
}

#address {
    color: var(--color-input);
}

.description {
    border-top: 1px solid #d8d5d5;
    padding-top: 15px;
}

.content-game .info-match {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    border-top: 1px solid #d8d5d5;
    padding-top: 15px;
}

.players-details,
.time-details {
    display: flex;
    justify-content: space-between;
}

.time-details {
    border-top: 1px solid #d8d5d5;
    padding-top: 15px;
    margin-top: 5px;
}

.text-quantity,
.text-time {
    font-weight: 900;
}

.content-game #quant-players,
.content-game #time {
    color: var(--color-input);
}

.contato-participar {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    gap: 5px;
}

#btn-contato,
#btn-participar {
    padding: 10px;
    font-size: 17px;
    font-family: var(--manrope);
    color: var(--white-default);
    border: none;
    border-radius: 3px
}

#btn-contato {
    /* background-color: #5595D2; */
    background-color: #F21F42;
    /* background-color: #10F157; */
    /* background-color: #FF860F; */
    /* background-color: #545AF9; */
}

#btn-participar {
    background-color: var(--purple-default);
}

@media (min-width: 721px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }

    .search-container {
        width: 80%;
        margin: auto;
        margin-bottom: 70px;
    }

    .sport {
        width: 15%;
    }

    .content {
        width: 85% !important;
    }

    .content-game {
        padding-left: 10%;
        padding-right: 10%;
    }
}


@media (min-width: 1000px) {
    .section-list-games {
        width: 80%;
        margin: auto;
    }

    .search-container {
        width: 700px !important;
    }

    .content-game {
        padding-left: 10%;
        padding-right: 10%;
    }

    .content-game .game-title #title {
        font-size: 36px;
    }

    #city-state {
        font-size: 27px;
    }

    #address {
        font-size: 19px;
    }

    .description {
        font-size: 17px;
    }

    .text-quantity,
    .text-time {
        font-size: 17px;
    }

    .content-game #quant-players,
    .content-game #time {
        font-size: 18px;
    }

    .contato-participar {
        justify-content: end;
        flex-direction: row;
    }
}