@media (max-width : 720px) {

    header{
        height: 38vh;
        width: 100%;
        background-color: #6F50FF; 
    }

    .font-poppins{
        color: #FFFFFF;

        
    }

    .font-bebas{
        color: #ffffff4d;
        float: right;
    }

}