@import url("geral.css");

@media (max-width : 720px) {

    *{
        margin: 0;
        padding: 0;
    }

    header{
        height: 32vh;
        width: 100%;
        background-color: #6F50FF; 
    }
    .titulo{
        padding-top: 10%;
        background-color:var(--purple-default);
        
    }
    

    .font-poppins{
    
        font-family: var(--poppins);
        color: #FFFFFF;
        margin-left: 15px; 

        
    }

    .font-bebas{
        /* margin-top: 15%; */
        color: #ffffff4d;
        margin-left: 43%;
        
        font-family: var(--bebas);
        font-size: 100px;
       
    }

    /* fim do header */

    .emailSenha{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 15%;
    }
    .emailSenha input{
        font-family: var(--manrope);
        width: 86%;
        height: 48px;
        font-size: 20px;
        background-color: var( --white-default);
        border: var( --white-default);

    }
    #inputemail{
        margin-bottom: 34px;
    }
    #inputemail::placeholder{
        padding-left: 24px;
    }
    #password::placeholder {
        padding-left: 24px;
        background-image: url(../img/password.svg);
        background-repeat: no-repeat; 
        background-position: right center;
    }
    .text-small{
        margin-left: 60%;
        margin-top: 3%;
    }

    /* fim dos inputs email e senha */

    .entrarOuCadastrar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin-top: 11%;
    }
   

    .botaoEntrar{
        width: 86%;
        height: 48px;
        font-family: var(--poppins);
        background-color: #4024C0;
        color: var(--white-bg);
        border-radius: 5px;
        border: #4024C0;
    }
    /* fim do botão cadastrar */

    .entrarOuCadastrar .text{
        text-align: center;
        margin-top: 3%;
    }
    .entrarOuCadastrar h3{
        margin-top: 3%;
        font-family: var(--manrope);
        margin-bottom: 3%;
    }
    /* fim do textos entre os botões */

    .botaoCadastrar{
        width: 86%;
        height: 48px;
        font-family: var(--poppins);
        background-color: var( --black-default);
        color: var(--white-bg);
        border-radius: 5px;
        border: var(--black-default);
        margin-bottom: 10%;
    }

    
  

}